html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #000;
    color: #fff;
    font-family: system-ui, sans-serif;
    overflow: hidden;
}

canvas {
    border: none;
    display: block;
    width: 100vw;
    height: 100vh;
}
